Syntactic issue with mutually-recursive types in interactive mode

Due to the extra line between x and y, this fails to verify in interactive mode, goes through on the command line. 
```
module Foo
 
type x = 
  | A of y
  | B

and y = 
  | C
```


Thanks for the report! I think it's fixed.

Thanks. My repro above is fixed, but I still get into trouble with these beautiful types in Extensions.fst. It works on the command line, returns a terse `Syntax error: Parsing.Parse_error` in interactive. 
```
(** RFC 4.2 'Extension' Table's type definition. *)
noeq type preEarlyDataIndication : Type0 =
  { ped_configuration_id: configurationId;
    ped_cipher_suite:valid_cipher_suite;
    ped_extensions:list extension;
    ped_context:b:bytes{length b < 256};
    //ped_early_data_type:earlyDataType;
    }
and earlyDataIndication =
  | ClientEarlyDataIndication of preEarlyDataIndication
  | ServerEarlyDataIndication
(* SI: we currently only define Mandatory-to-Implement Extensions 
   as listed in the RFC's Section 8.2. Labels in the variants below are: 
     M  - "MUST implement"
     AF - "MUST ... when offering applicable features" *)
```
and extension =
  | E_server_name of list TI.serverName (* M, AF *) (* RFC 6066 *)
(*| E_max_fragment_length 
  | E_client_certificate_url 
  | E_status_request 
  | E_user_mapping 
  | E_cert_type *)
  | E_supported_groups of list namedGroup (* M, AF *) (* RFC 7919 *)
  | E_signature_algorithms of (list sigHashAlg) (* M, AF *) (* RFC 5246 *)
(*| E_use_srtp 
  | E_heartbeat 
  | E_application_layer_protocol_negotiation
  | E_signed_certifcate_timestamp 
  | E_client_certificate_type 
  | E_padding *)
  | E_key_share of CommonDH.keyShare (* M, AF *)
  // this is the truncated PSK extension, without the list of binder tags.
  | E_pre_shared_key of list (PSK.preSharedKey * PSK.obfuscated_ticket_age)  (* M, AF *)
(*| E_psk_key_exchange_modes *)
  | E_early_data of earlyDataIndication
  | E_cookie of b:bytes { 1 <= length b /\ length b <= ((pow2 16) - 1)}  (* M *)
  | E_supported_versions of list TLSConstants.protocolVersion (* M, AF *) 
(*| E_certificate_authorities 
  | E_oid_filters *)
  | E_unknown_extension of (lbytes 2 * bytes) (** un-{implemented,known} extensions. *)
```

@fournet Thanks for the report. I think the error is legit, though: the final comment `(** … *)` is an fsdoc comment, which syntactically must be followed by a definition (to which it gets attached).  In batch mode it gets attached to whatever follows this definition, while in interactive mode fstar-mode sends a chunk ending with that comment to the subprocess — hence the error.

The easy solution is to replace `(**` with `(*`, and that's probably what the code originally meant, too.  I could fix fstar-mode to handle this case, of course, but that'll make things a lot more complex for little gain (AFAICT that comment was not meant to attach to the next `let`).

You are right, thanks. Ideally, fstar would give a location or hint that it is an fsdoc issue. 

Indeed.  I think @kyoDralliam's work on moving fsdoc handling out of the parser will solve this issue.